.profile-page {
    display: flex;
    background-color: white;
    padding: 20px;
  }
  
  .profile-content {
    width: 75%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
  }
  